body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	background: #fff;
}

.hr {
	width: auto;
	height: 10px;
	background-color: #4b545f;
}

.hr.top {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.hr.bottom {
	/*
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	*/
	height: auto;
	color: white; 
	text-align: center; 
	margin-bottom: 10px;
	position: fixed;
	width: 800px;
	z-index: 100;
	margin-bottom: 0;
	bottom: 0;
	padding: 6px;
}

.content {
	width: 800px;
	margin: auto;
	background-color: #e6e6e6;
	border-radius: 7px;
}

#center-deal {
	border-left: 2px solid #4b545f;
	border-right: 2px solid #4b545f;
	height:100%;
}

#text-cont {
	padding: 10px;
	margin-bottom: -10px
}

h2, h3 {
	margin: auto;
	text-align: center;
}

h3 {
	margin-top: 10px;
}

#imagery .cont {
	margin: auto;
	width: 730px;
}

	#imagery img {
		margin: 20px;
		border-radius: 150px;
		-moz-border-radius: 150px;
	}

		#imagery img:hover {
			box-shadow: 0px 0px 40px #BDE8FF;
		}
