body {
	/* font-family: Verdana, Arial, sans-serif; */
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #222;
	text-shadow: 1px 1px 0px #fff, -1px -1px 0px #ddd;
	/* overflow: hidden; */
}

h1, h2, h3, h4, p {
	font-weight: normal;
}

h1, h2, h3, h4 {
	font-weight: bold;
	text-align: center;
}

p {
	text-align: center;
}

.principal {
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	top: 0;
	left: 0;
	
}

.center {
	position: relative;
	margin: 0 auto;
}

.right {
	position: relative;
	float: right;
}



.width-pri {
	width: 800px;
}

.width8 {
	width: 650px;
}

.bienv {
	padding-top: 15%;
}

.img-cont {
	width: 300px;	
}

h2 {
	text-align: center;
}

/* css para logo princial */
#logo-prin {
	position: relative;
	margin: 0 auto;
	width: 300px;
}

#logo-sec {
	position: relative;
	width: 150px;
}

/*
#bien {
	/* display: none; * /
}
/* --- */

#aaa{
	display: none; /*descomentar esto luego */
	/* position: relative;
	height: 100%; */
	width: 802px; 
	min-height: 800px;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
	box-shadow: 0px 0px 10px #aaa;
}

#init {
	bottom: 25px;
}

#footer {
	bottom: 0;
	margin-bottom: 0;
	position: fixed;
	padding: 3px;
	height: auto;
	text-align: center;
	z-index: 3;
	font-size: 12px;
	background-color: #eee;
	border-top: solid 1px #aaa;
}

#sub-menu-1 {
	top: -32px;
}

#social-network {
	position: relative;
	float: right;
	width: 180px;
	height: 75px;
	top: 15px;
	font-size: 11px;
}

	#social-network p {
		width: 80px;
		font-weight: bold;
	}

.sub-menu-opt {
	position: relative;
	display: table-row;
	float: left;
	margin-left: 70px;
	text-decoration: none;
	color: #222;
}

	.sub-menu-opt.active {
		text-decoration: underline;
		color: #03184F;
		/* text-shadow: 1px 1px 2px #ddd, -1px -1px 2px #aaa; */
	}

		.sub-menu-opt.active:hover {
			cursor: default;
		}

	.sub-menu-opt:hover {
		color: #03184F;
		/* text-shadow: 1px 1px 2px #ddd, -1px -1px 2px #aaa; */
		text-decoration: underline;
	}

a.rs {
	position: relative;
	margin-left: 8px;
	text-decoration: none !important;
	color: #222 !important;
}

a.rs:hover {
	color: #03184F !important;
	/* text-shadow: 1px 1px 2px #ddd, -1px -1px 2px #aaa; */
	cursor: pointer;
}

#bubbles {
	/* left: 38px; */
	height: 260px;
}

	#bubbles.bubbles-out {
		height: 80px;
		margin-bottom: 15px;
		padding-top: 10px;
		background-color: rgba(1,158,203,0.3);
	}

.bub {
	margin-left: 50px;
	float: left;
	width: 200px;
	position: relative;
}

	.bub.bub-old {
		height: 60px;
		width: 60px;
		margin-left: 162px;
	}

	.bub:hover {
		font-weight: bold;
	}

	.bub:hover img {
		cursor: pointer;
		-moz-box-shadow: 0px 0px 4px #ddd;
		-webkit-box-shadow: 0px 0px 4px #ddd;
		box-shadow: 0px 0px 4px #ddd;
	}

	.bub img {
		padding: 5px;
		/* margin: 15px; */
		border: 1px solid #ddd;
		border-radius: 125px;
		width: 100%;
	}

	.bub img.small-btn {
		display: none;
		padding: 5px;
		border: 1px solid #ddd;
		border-radius: 30px;
		width: 100%;
	}

	.bub small {
		position: relative;
		top: -60px;
		display: table;
		font-size: small;
	}

		.bub small:hover {
			cursor: pointer;
		}

.context {
	display: none;
}
