body {
	/* font-family: Verdana, Arial, sans-serif; */
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #222;
	text-shadow: 1px 1px 0px #fff, -1px -1px 0px #ddd;
	/* overflow: hidden; */
}

h1, h2, h3, h4, p {
	font-weight: normal;
}

h1, h2, h3, h4 {
	font-weight: bold;
	text-align: center;
}

p {
	text-align: center;
}

.principal {
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	top: 0;
	left: 0;
	
}

.center {
	position: relative;
	margin: 0 auto;
}

.right {
	position: relative;
	float: right;
}

.left {
	position: relative;
	float: left;
}

.portafolio {
	position: relative;
	display: table;
	background-color: #eee;
	padding-bottom: 40px;
}
	.portafolio .fotos {
		position: relative;
		/* display: table-row; */
	}

	.portafolio .foto-porta {
		width: 150px;
		height: 150px;
		margin-top: 10px;
		margin-left: 10px;
		cursor: pointer;
	}

	.portafolio .foto-porta small {
		text-align: center;
		width: 150px;
		font-size: small;
		top: -25px;
		display: table;
	}

.clientes {
	padding-bottom: 40px;
	display: table;
}

	.clientes .cli-list {
		display: table;
	}
	.clientes .cli-list ul {
		/* display: table-column; */
		float: left;
		width: 300px;
	}

.width-pri {
	width: 800px;
}

.width8 {
	width: 650px;
}

.bienv {
	padding-top: 15%;
}

.img-cont {
	width: 300px;	
}

h2 {
	text-align: center;
}

/* css para logo princial */
#logo-prin {
	position: relative;
	margin: 0 auto;
	width: 300px;
}

#logo-sec {
	position: relative;
	width: 150px;
}

/*
#bien {
	/* display: none; * /
}
/* --- */

#aaa{
	display: none; /*descomentar esto luego */
	/* position: relative;
	height: 100%; */
	width: 802px; 
	min-height: 800px;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
	box-shadow: 0px 0px 10px #aaa;
}

#init {
	bottom: 25px;
}

#welcomer {
	/* display: none; */
}

#footer {
	bottom: 0;
	margin-bottom: 0;
	position: fixed;
	padding: 3px;
	height: auto;
	text-align: center;
	z-index: 3;
	font-size: 12px;
	background-color: #eee;
	border-top: solid 1px #aaa;
}

#sub-menu-1 {
	top: -32px;
}

#social-network {
	position: relative;
	float: right;
	width: 180px;
	height: 75px;
	top: 15px;
	font-size: 11px;
}

	#social-network p {
		width: 80px;
		font-weight: bold;
	}

.sub-menu-opt {
	position: relative;
	display: table-row;
	float: left;
	margin-left: 70px;
	text-decoration: none;
	color: #222;
}

	.sub-menu-opt.active {
		text-decoration: underline;
		color: #03184F;
		/* text-shadow: 1px 1px 2px #ddd, -1px -1px 2px #aaa; */
	}

		.sub-menu-opt.active:hover {
			cursor: default;
		}

	.sub-menu-opt:hover {
		color: #03184F;
		/* text-shadow: 1px 1px 2px #ddd, -1px -1px 2px #aaa; */
		text-decoration: underline;
	}

a.rs {
	position: relative;
	margin-left: 8px;
	text-decoration: none !important;
	color: #222 !important;
}

a.rs:hover {
	color: #03184F !important;
	/* text-shadow: 1px 1px 2px #ddd, -1px -1px 2px #aaa; */
	cursor: pointer;
}

#bubbles {
	/* left: 38px; */
	height: 340px;
}

	#bubbles.bubbles-out {
		height: 40px;
		margin-bottom: 10px;
		margin-top: 10px;
		border-left: solid 1px #aaa;
		border-right: solid 1px #aaa;
		/* background-color: rgba(1,158,203,0.3); */
	}

.bub {
	margin-left: 50px;
	float: left;
	width: 200px;
	position: relative;
}

	.bub.bub-old {
		height: 40px;
		width: 60px;
		margin-left: 0;
		padding-left: 109px;
		padding-right: 157px;
	}

		.bub.bub-old.bub-old-ind {
			/*	background-color: #eee; */
			background-color: rgba(102,102,102,0.3);
		}
		.bub.bub-old.bub-old-pub {
			background-color: rgba(1,158,203,0.3);
			/* background-color: #aaa; */
		}
		.bub.bub-old.bub-old-dec {
			background-color: rgba(255,112,24,0.3);
			/* background-color: #fff; */
		}

		.bub h4.small-btn {
			display: none;
			margin-left: -10px;
			margin-top: 11px;
			text-size: 12px;
		}

	.bub:hover {
		font-weight: bold;
	}

	.bub:hover img {
		cursor: pointer;
		-moz-box-shadow: 0px 0px 4px #ddd;
		-webkit-box-shadow: 0px 0px 4px #ddd;
		box-shadow: 0px 0px 4px #ddd;
	}

	.bub img {
		padding: 5px;
		/* margin: 15px; */
		border: 1px solid #ddd;
		border-radius: 125px;
		width: 100%;
	}

	.bub img.small-btn {
		display: none;
		padding: 5px;
		border: 1px solid #ddd;
		border-radius: 30px;
		width: 100%;
	}

	.bub small {
		position: relative;
		top: -60px;
		display: table;
		font-size: small;
	}

		.bub small:hover {
			cursor: pointer;
		}

.context {
	display: none;
}

/* esto es para el loader, no modificar! */
.loader,
.loader:before,
.loader:after {
  background: rgba(1,158,203,0.5);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 8em auto;
  position: relative;
  font-size: 11px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 rgba(1,158,203,0.5);
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em rgba(1,158,203,0.5);
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 rgba(1,158,203,0.5);
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em rgba(1,158,203,0.5);
    height: 5em;
  }
}

