a {
	text-decoration: none !important;
}

.menu {
	width: 800px;
	margin: auto;
}

.top-catch {
	position: relative;
	left: 243px;
	top: -60px;
	font-size: 1em;
	color: #4b545f;
}

.logo {
	left: 21px;
	top: 10px;
	position: relative;
	width: 250px;
}

.social {
	position: relative;
	top: -110px;
	float: right;
}

nav {
	z-index: 10;
	float: right;
	width: 550px;
	margin-top: -46px;
	/* margin-right: -150px; */
	margin-right: -40px;
}

nav ul {
	padding: 0 15px;
	list-style: none;
	position: relative;
	display: inline-table;
}

	nav ul:after {
		content: "";
		clear: both;
		display: block;
	}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul li {
	float: left;
	border-radius: 0.5em 0.5em 0 0;
}

	nav ul li:hover {
		background: #4b545f;
	}

		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block;
		padding: 10px 6px;
		color: #757575;
		text-decoration: none;
	}

nav ul ul {
	background: #4b545f;
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
	z-index: 1000;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
		border-radius: 0px;
	}
		nav ul ul li a {
			padding: 5px 10px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #6b727c;
			}
